.overlay-add {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.overlay-add.active {
  display: flex;
}

.popup-add {
  z-index: 1001;
  padding: 60px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  position: relative;
}
@media (max-width: 575px) {
  .popup-add {
    width: 95%;
    padding: 60px 20px;
  }
}
.popup-add__close-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
}
.popup-add__title {
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 575px) {
  .popup-add__title {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.popup-add__form {
  width: 500px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 575px) {
  .popup-add__form {
    width: 100%;
  }
}
.popup-add__form__input {
  background: #ffffff;
  border: 1px solid #4b4b4b;
  outline: none;
  border-radius: 4px;
  height: 50px;
  padding-left: 25px;
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  color: #000000;
}
@media (max-width: 575px) {
  .popup-add__form__input {
    width: 100%;
  }
}
.popup-add__form__label {
  width: max-content;
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #4b4b4b;
  position: relative;
  top: 8px;
  left: 19px;
  background-color: #ffffff;
}
.popup-add__form__file-name {
  display: flex;
  align-items: center;
}
.popup-add__form__file-name__text {
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-decoration-line: underline;
  color: #000000;
  margin-right: 10px;
}
.popup-add__form__file-name__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.popup-add__form__file-name__btn:hover {
  transition: 0.3s;
  background-color: #ff5632;
}
.popup-add__form__add-file {
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline !important;
  text-transform: uppercase;
  margin-top: 10px;
  color: #4aa148;
  margin-bottom: 40px;
}
.popup-add__form__submit {
  cursor: pointer;
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 35px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  width: 280px;
  color: #ffffff;
  background: linear-gradient(270deg, #4aa148 0%, #7ec669 100%), linear-gradient(270deg, #ff5632 0%, #ef441f 100%);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  border: none;
  margin: 0 auto;
  transition: 0.3s;
}
@media (max-width: 575px) {
  .popup-add__form__submit {
    width: 180px;
  }
}
.popup-add__form__submit:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.5) !important;
  transition: 0.3s;
}

.cabinet {
  width: 100%;
  min-height: calc(100vh - 506px);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 50px 0;
  background-position: center;
}
@media (max-width: 991px) {
  .cabinet {
    padding: 40px 15px 25px 15px;
  }
}
@media (max-width: 575px) {
  .cabinet {
    padding: 30px 15px 25px 15px;
  }
}
.cabinet .conteiner {
  display: flex;
}
@media (max-width: 991px) {
  .cabinet .conteiner {
    flex-direction: column;
  }
}

.title {
  position: absolute;
  left: 0;
  margin-bottom: 50px;
}

.cabinet__tabs {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #c4c4c4;
  width: 30%;
  height: max-content;
  margin-top: 140px;
}
@media (max-width: 991px) {
  .cabinet__tabs {
    width: 100%;
    flex-direction: unset;
    border-bottom: 2px solid #c4c4c4;
    border-left: none;
  }
}
@media (max-width: 575px) {
  .cabinet__tabs {
    flex-direction: column;
    border-left: 2px solid #c4c4c4;
    border-bottom: none;
    margin-top: 85px;
  }
}
.cabinet__tabs__item {
  position: relative;
  padding-left: 20px;
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .cabinet__tabs__item {
    margin-bottom: 5px;
    font-size: 18px;
    padding-left: 0px;
    margin-right: 50px;
  }
}
@media (max-width: 575px) {
  .cabinet__tabs__item {
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 30px;
    margin-right: 0px;
  }
}
.cabinet__tabs__item.active {
  transition: 0.3s;
  color: #4aa148;
}
.cabinet__tabs__item.active::before {
  content: "";
  transition: 0.3s;
  position: absolute;
  left: -2px;
  display: block;
  width: 4px;
  height: 35px;
  background-color: #4aa148;
}
@media (max-width: 991px) {
  .cabinet__tabs__item.active::before {
    width: 6px;
    height: 120px;
    transform: rotate(-90deg);
    left: 72px;
    top: -32px;
  }
}
@media (max-width: 575px) {
  .cabinet__tabs__item.active::before {
    left: -4px;
    top: -3px;
    transform: rotate(0deg);
    display: block;
    width: 6px;
    height: 26px;
  }
}
@media (max-width: 991px) {
  .cabinet__tabs__item:nth-child(1).active {
    transition: 0.3s;
    color: #4aa148;
  }
  .cabinet__tabs__item:nth-child(1).active::before {
    content: "";
    transition: 0.3s;
    position: absolute;
    left: -2px;
    display: block;
    width: 4px;
    height: 35px;
    background-color: #4aa148;
  }
}
@media (max-width: 991px) and (max-width: 991px) {
  .cabinet__tabs__item:nth-child(1).active::before {
    width: 6px;
    height: 120px;
    transform: rotate(-90deg);
    left: 57px;
    top: -32px;
  }
}
@media (max-width: 575px) {
  .cabinet__tabs__item:nth-child(1).active {
    transition: 0.3s;
    color: #4aa148;
  }
  .cabinet__tabs__item:nth-child(1).active::before {
    content: "";
    transition: 0.3s;
    position: absolute;
    left: -4px;
    top: 0;
    transform: rotate(0deg);
    display: block;
    width: 6px;
    height: 26px;
    background-color: #4aa148;
  }
}
.cabinet__tabs__item:nth-last-child(1) {
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  .cabinet__tabs__item:nth-last-child(1) {
    margin-right: 0px;
  }
}
.cabinet__tabs__item:hover::before {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in;
}

.cabinet__tabs-body {
  width: 70%;
}
@media (max-width: 991px) {
  .cabinet__tabs-body {
    width: 100%;
  }
}

.tabs__block {
  margin-top: 140px;
  display: none;
  flex-wrap: wrap;
  padding-top: 30px;
  position: relative;
  width: 100%;
}
@media (max-width: 991px) {
  .tabs__block {
    margin-top: 100px;
    padding-top: 0px;
  }
}
@media (max-width: 575px) {
  .tabs__block {
    margin-top: 40px;
  }
}
.tabs__block.active {
  display: flex;
}
.tabs__block__add-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-decoration-line: underline !important;
  text-transform: uppercase;
  color: #ff5632;
}
@media (max-width: 991px) {
  .tabs__block__add-btn {
    top: -40px;
  }
}
@media (max-width: 575px) {
  .tabs__block__add-btn {
    top: -30px;
  }
}
.tabs__block__item {
  margin-right: 20px;
  margin-bottom: 20px;
  height: max-content;
  width: calc(50% - 20px);
  border: 1px solid #e1e1e1;
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .tabs__block__item {
    margin-right: 20px;
    width: calc(50% - 10px);
    padding: 20px 30px;
  }
  .tabs__block__item:nth-child(2n-1) {
    margin-right: 0px;
  }
}
@media (max-width: 575px) {
  .tabs__block__item {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 20px 16px;
  }
}
.tabs__block__item__title {
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .tabs__block__item__title {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 575px) {
  .tabs__block__item__title {
    font-size: 14px;
    line-height: 20px;
  }
}
.tabs__block__item__subtitle {
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #4aa148;
}
@media (max-width: 991px) {
  .tabs__block__item__subtitle {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .tabs__block__item__subtitle {
    font-size: 10px;
    display: none;
  }
  .tabs__block__item__subtitle.active {
    display: block;
  }
}
.tabs__block__item__desc {
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 20px;
}
@media (max-width: 991px) {
  .tabs__block__item__desc {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 575px) {
  .tabs__block__item__desc {
    font-size: 12px;
    line-height: 15px;
    display: none;
  }
  .tabs__block__item__desc.active {
    display: block;
  }
}
.tabs__block__item__file {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .tabs__block__item__file {
    display: none;
  }
  .tabs__block__item__file.active {
    display: flex;
  }
}
.tabs__block__item__file__name {
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  text-decoration-line: underline;
  color: #000000;
  margin-right: 10px;
}
@media (max-width: 991px) {
  .tabs__block__item__file__name {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .tabs__block__item__file__name {
    font-size: 12px;
  }
}
.tabs__block__item__file__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #d9d9d9;
}
.tabs__block__item__file__btn:hover {
  transition: 0.3s;
  background-color: #ff5632;
}
.tabs__block__item__add {
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline !important;
  text-transform: uppercase;
  margin-top: 20px;
  color: #4aa148;
}
@media (max-width: 575px) {
  .tabs__block__item__add {
    font-size: 12px;
    margin-bottom: 15px;
    display: none;
  }
  .tabs__block__item__add.active {
    display: block;
  }
}
.tabs__block__item__open {
  display: none;
  width: 24px;
  height: 11px;
  margin: 0 auto;
  transform: rotate(-180deg);
}
@media (max-width: 575px) {
  .tabs__block__item__open {
    display: block;
  }
  .tabs__block__item__open.active {
    transform: rotate(0deg);
  }
}

.balance {
  padding: 0;
  position: relative;
}
@media (max-width: 991px) {
  .balance {
    margin-top: 50px;
  }
}
.balance__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
  width: 100%;
  padding: 62px 0;
  color: #000000;
  border: 1px solid #4aa148;
}
@media (max-width: 991px) {
  .balance__title {
    font-size: 30px;
    padding: 22px 0;
  }
}
@media (max-width: 575px) {
  .balance__title {
    flex-direction: column;
    font-size: 20px;
    padding: 12px 0;
  }
}
.balance__title > .green {
  color: #4aa148;
}
@media (max-width: 575px) {
  .balance__title > .green {
    text-transform: lowercase;
  }
}
.balance__date-null {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .balance__date-null {
    margin-bottom: 0px;
  }
}
.balance__date-null__text {
  margin-right: 15px;
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.balance__date-null__img {
  cursor: pointer;
}
.balance__date-null__img:hover + .balance__date-null__infotip {
  display: block;
}
.balance__date-null__infotip {
  padding: 30px 40px;
  background-color: #ffffff;
  max-width: 630px;
  position: absolute;
  right: 5px;
  top: 220px;
  display: none;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.5) !important;
}
@media (max-width: 991px) {
  .balance__date-null__infotip {
    max-width: 470px;
    top: 135px;
    padding: 20px 30px;
  }
}
@media (max-width: 575px) {
  .balance__date-null__infotip {
    max-width: 244px;
    top: 155px;
    padding: 20px 30px;
  }
}
.balance__date-null__infotip::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0px;
  top: -12px;
  border-top: 12px solid transparent;
  border-right: 24px solid #ffffff;
  border-bottom: 12px solid transparent;
}
.balance__date-null__infotip__text {
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}
@media (max-width: 991px) {
  .balance__date-null__infotip__text {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 575px) {
  .balance__date-null__infotip__text {
    font-size: 12px;
    line-height: 18px;
  }
}
.balance__info {
  margin-top: 60px;
}
@media (max-width: 575px) {
  .balance__info {
    margin-top: 40px;
  }
}
.balance__info:first-child {
  margin-top: 120px;
}
.balance__info__title {
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .balance__info__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .balance__info__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.balance__info__paragraf {
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  padding-right: 40px;
  color: #000000;
}
@media (max-width: 991px) {
  .balance__info__paragraf {
    font-size: 18px;
    line-height: 30px;
    padding-right: 0px;
  }
}
@media (max-width: 575px) {
  .balance__info__paragraf {
    font-size: 14px;
    line-height: 18px;
    padding-right: 0px;
  }
}
.balance__info__list {
  list-style-type: none;
  margin-top: 15px;
}
@media (max-width: 575px) {
  .balance__info__list {
    margin-top: 7px;
  }
}
.balance__info__list__item {
  position: relative;
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  padding-left: 25px;
}
@media (max-width: 575px) {
  .balance__info__list__item {
    font-size: 15px;
  }
}
.balance__info__list__item:before {
  content: url(../img/Vectorb.png);
  display: block;
  position: absolute;
  left: 0;
}

.document {
  width: 100%;
}
@media (max-width: 991px) {
  .document {
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .document {
    margin-top: 20px;
  }
}
.document__item {
  margin: 0 20px 20px 0;
  display: flex;
  width: calc(50% - 20px);
  padding: 30px;
  background: linear-gradient(270deg, #6d6d6d 0%, #8c8c8c 100%), #4aa148;
}
@media (max-width: 991px) {
  .document__item:nth-child(2n) {
    margin: 0 0px 15px 0;
  }
}
@media (max-width: 991px) {
  .document__item {
    width: calc(50% - 7.5px);
    margin: 0 15px 15px 0;
  }
}
@media (max-width: 575px) {
  .document__item {
    width: 100%;
    margin: 0 0px 15px 0;
  }
}
.document__item:hover {
  background: linear-gradient(270deg, #4aa148 0%, #7ec669 100%), #4aa148;
}
.document__item__download {
  width: 15%;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
@media (max-width: 991px) {
  .document__item__download {
    width: 20%;
  }
}
@media (max-width: 575px) {
  .document__item__download {
    align-items: center;
    width: 15%;
  }
}
@media (max-width: 575px) {
  .document__item__download__img {
    width: 32px;
    height: 42px;
  }
}
.document__item__download__btn {
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline !important;
  text-transform: uppercase;
  margin-top: 35px;
  color: #ffffff;
}
@media (max-width: 991px) {
  .document__item__download__btn {
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .document__item__download__btn {
    font-size: 11px;
    margin-top: 15px;
  }
}
.document__item__name {
  width: 80%;
}
.document__item__name__text {
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}
@media (max-width: 991px) {
  .document__item__name__text {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 575px) {
  .document__item__name__text {
    font-size: 14px;
    line-height: 20px;
  }
}

.setting__form {
  width: 570px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
@media (max-width: 575px) {
  .setting__form {
    width: 100%;
    margin-left: 0px;
  }
}
.setting__form__input {
  width: 100%;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 50px;
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  color: #000000;
  padding-left: 20px;
}
.setting__form__label {
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #4b4b4b;
  background-color: #ffffff;
  width: max-content;
  position: relative;
  top: 9px;
  left: 15px;
}
.setting__form__btn {
  margin: 0 auto;
  max-width: 275px;
  cursor: pointer;
  font-family: Calibri;
  padding: 16px 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #ffffff;
  background: linear-gradient(270deg, #4aa148 0%, #7ec669 100%), linear-gradient(270deg, #ff5632 0%, #ef441f 100%);
  transition: 0.3s;
}
@media (max-width: 991px) {
  .setting__form__btn {
    margin: 0;
  }
}
@media (max-width: 575px) {
  .setting__form__btn {
    margin: 0 auto;
  }
}
.setting__form__btn:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.5) !important;
  transition: 0.3s;
}

/*# sourceMappingURL=cabinet.css.map */
